node_modules
dist
.env
.eslintcache
.parcel-cache
/test-results/
/e2e-report/
/blob-report/
/playwright/.cache/
src/content-script/core-webpage-injector.js
src/content-script/core-webpage.js
src/content-script/webpage.js
